@font-face {
  font-family: "TT Travels";
  src: url(../fonts/TTTravels-Black.ttf);
}
@font-face {
  font-family: "TT Travels-light";
  src: url(../fonts/TTTravels-Light.ttf);
}
@font-face {
  font-family: "GT America-bold";
  src: url(../fonts/GTAmericaBold.ttf);
}

@font-face {
  font-family: "Schnyder Cond XL Demi";
  src: url(../fonts/Schnyder_X_Cond_XL_Demi.woff);
  font-weight: normal;
  font-style: normal;
}
