@import "vars";
@import "libs";
@import "fonts";
@import "animations";

@import "media";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  cursor: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
  //cursor: none;
}

.bg-line {
  position: absolute;
  left: 473px;
  top: 7px;
  z-index: -1;
}

.blue-line {
  stroke-dasharray: 2000px;
  stroke-dashoffset: 2000px;
  animation: drawLine 4s linear forwards;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 48px 0 48px;
}

.logo {
  letter-spacing: -1px;
  font-family: "GT America-bold";
  font-size: 16px;
  height: 18px;
  animation: logoAppear 1.5s ease;
}

.menu {
  font-family: "TT Travels-light";
}

.menu li:first-child {
  animation: fromRight 1s ease;
}
.menu li:nth-child(2) {
  animation: fromRight 1.3s ease;
}
.menu li:nth-child(3) {
  animation: fromRight 1.6s ease;
}
.menu li:last-child {
  animation: fromRight 1.9s ease;
}
.menu-link {
  width: 300px;
  font-size: 12px;
  line-height: 21px;
}

.menu-link:hover,
.inst:hover,
.fb:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.photo-frame {
  position: absolute;
  overflow: hidden;
  transition: opacity 0.5s ease;
}

.photo-frame img {
  width: 100%;
  height: 100%;
  position: absolute;

  transition: opacity 0.5s ease;
}

.frame-1 {
  width: 238px;
  height: 331px;
  transform: rotate(1.1deg);
  top: 201px;
  left: 229px;
}

.frame-1 img:first-child {
  transform: scale(2.05);
  top: 120px;
}

.frame-2 {
  width: 476px;
  height: 702px;
  transform: rotate(1.5deg);
  top: 74px;
  left: 491px;
}
.frame-1 img,
.frame-2 img {
  object-fit: cover;
}
.frame-3 {
  width: 345px;
  height: 238px;
  transform: rotate(2.03deg);
  top: 495px;
  left: 890px;
}

.frame-3 img:nth-child(2) {
  object-fit: cover;
  object-position: top;
}
.frame-3 img:nth-child(3) {
  object-fit: cover;
}

.frame-3 img:first-child {
  object-fit: cover;
  object-position: top;
  // transform: scale(1.2);

  // top: 70px;
}

.transparent {
  opacity: 0;
}

.parallax {
  top: -112px;
  left: 0;
}

.swiper-container {
  width: 2850px;
  height: 72%;
  position: absolute;
  top: 20%;
  margin-left: -662px;
  //margin-left: -727px;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Schnyder Cond XL Demi";
    text-transform: uppercase;
    font-size: 126px;
    letter-spacing: 5px;
    font-stretch: extra-expanded;
    color: transparent; /* прозрачный цвет букв */
    -webkit-text-stroke: 1px rgba(88, 3, 0, 0.9);
    animation: textAppear 3s linear;
  }

  .swiper-container:first-child {
    animation: fromLeft 1.5s ease;
  }

  .swiper-slide-next {
    color: rgba(88, 3, 0, 0.9);
  }

  .swiper-slide-active {
    transform: rotate(-1.5deg);
    //animation: fromLeft 1.5s ease;
    //padding-right: 200px;
  }

  .swiper-slide-duplicate-prev {
    //margin-left: 100px;
    //padding-left: 275px;
    transform: rotate(1.5deg);
    //animation: fromRight 1.5s ease;
  }
}

/*for circle cursor*/

.cursor {
  width: 17px;
  height: 17px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out; /*connected to cursor circle to*/
  transition-property: background, transform;
  transform-origin: 5% 5%; /*cursor at center*/
  z-index: 99;
}

.cursor.mouse-active {
  //transform: scale(1.3);
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.cursor-text {
  width: 39px;
  position: absolute;
  font-family: "TT Travels-light";
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  top: -8px;
  left: 15px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.cursor-drag {
  opacity: 1;
}

/*social styles*/
.social {
  width: 112px;

  position: absolute;
  bottom: 47px;
  left: 48px;
  display: flex;
  justify-content: space-between;
  font-family: "TT Travels-light";
  font-size: 11px;
}

.inst:after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 33px;
  width: 56px;
  height: 1px;
  background: rgba(0, 0, 0, 0.24);
}
